
nav {
  position: fixed;
  z-index: 5;
  background-color: #ffffff61;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

ul {
  display: flex;
  gap: 1rem;
  list-style: none;
  font-size: 1.25rem;
  color: white;
}

ul > li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

ul > li:hover {
  transform: scale(1.1);
}

span > i {
  font-size: 4rem;
  color: white;
}
ul > li, ul > li > a{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    color:white
}
input{
    border-radius: 20px;
    background-color: rgb(111, 101, 85);
    padding: 8px;
    color: white;
}